/* General style */
.fira-sans-normal{
  font-family: "Fira Sans", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

body{
    background-color: #F5F5F5;
}


/* nav style */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px 160px;
}

.nav-title {
    font-size: 32px;
    font-weight: bold;
}

.nav-ul {
    font-size: 18px;
    font-weight: 600;
    color: #006A50;
    border: 1px solid #006A50;
    border-radius: 8px;
    padding: 15px 30px;
    background-color: #fff;
}


/* banner style */
.hero-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #C6E4D6;
    border-radius: 24px;
    margin: 0px 160px;
    padding: 80px 100px;
}

.hero-title{
    font-size: 24px;
    font-weight: 600;
    color: rgba(14, 14, 14, 0.5);
}

.hero-description{
    font-size: 56px;
    font-weight: bold;
}

.hero-img{
    height: 400px;
    width: 450px;
}

.hero-btn{
    font-size: 18px;
    font-weight: 600;
    color: #FFFFFF;
    border: 1px solid #006A50;
    border-radius: 8px;
    padding: 17px 34px;
    background-color: #006A50;
    cursor: pointer;
}

.hero-btn:hover{
    color: #006A50;
    background-color: #FFFFFF
}


/* Vision style */
.vision-content{
    margin: 100px 160px;
}

.body-title{
    font-size: 40px;
    font-weight: bold;
}

.body-description{
    font-size: 16px;
    font-weight: 300;
    color: rgba(14, 14, 14, 0.7);
}

.vision-container{
    display: flex;
    gap: 20px;
    padding-top: 24px;
    padding-bottom: 24px;
}

#secondary-vision-1{
    background-color: rgba(84, 144, 245, 0.2);
    /* margin: 20px, 16px, 16px, 0px; */
    padding: 24px;
    border-radius: 16px;
}

#secondary-vision-2{
    background-color: #C6E4D6;
    /* margin: 16px, 16px, 16px, 16px; */
    padding: 24px;
    border-radius: 16px;
}

#secondary-vision-3{
    background-color: #F7EBCF;
    /* margin: 16px, 0px, 16px, 16px; */
    padding: 24px;
    border-radius: 16px;
}

.secondary-vision-title{
    font-size: 20px;
    font-weight: bold;
    color: rgba(14, 14, 14, 0.8);
}

.secondary-vision-para{
    font-size: 16px;
    font-weight: 400;
    color: rgba(14, 14, 14, 0.7);
    text-align: left;
}

.vision-btn-1{
    font-size: 16px;
    font-weight: 600;
    color: #FFFFFF;
    border: 1px solid #006A50;
    border-radius: 8px;
    padding: 11px 20px;
    background-color: #5490F5;
    cursor: pointer;
}

.vision-btn-1:hover{
    color: #5490F5;
    background-color: #FFFFFF;
}

.vision-btn-2{
    font-size: 16px;
    font-weight: 600;
    color: #FFFFFF;
    border: 1px solid #006A50;
    border-radius: 8px;
    padding: 11px 20px;
    background-color: #09A15C;
    cursor: pointer;
}

.vision-btn-2:hover{
    color: #09A15C;
    background-color: #FFFFFF;
}

.vision-btn-3{
    font-size: 16px;
    font-weight: 600;
    color: #FFFFFF;
    border: 1px solid #006A50;
    border-radius: 8px;
    padding: 11px 20px;
    background-color: #FFC239;
    cursor: pointer;
}

.vision-btn-3:hover{
    color: #FFC239;
    background-color: #FFFFFF;
}

.vision-qoute{
    background-color: #FFFFFF;
    border-radius: 16px;
    padding: 48px 24px;
    gap: 0px;
    background-image: url(../assets/quote-bg.png); background-repeat: no-repeat;background-position: top left;
    z-index: calc(-23px);
}

/* .qoute-title{
    display: flexbox;
    gap: 0px;
    margin: 0px;
    padding: 0px;
    align-items: first baseline;
    justify-content: first baseline;
} */

#qoute-description{
    /* background-image: url(../assets/quote-bg.png); background-repeat: no-repeat;background-position: top left;
    z-index: calc(-23px); */
    font-size: 16px;
    font-weight: 300;
    color: rgba(14, 14, 14, 0.7);
}

#name{
    font-size: 20px;
    font-weight: 600;
    color: rgba(14, 14, 14, 0.8);
}

#position{
    font-size: 16px;
    font-weight: 400;
    color: rgba(14, 14, 14, 0.6);
}


/* Recent style */
.recent-container{
    display: flex;
    gap: 20px;
    padding: 40px;
    background-color: #FFFFFF;
    border-radius: 24px;
    margin-top: 32px;
}

.recent-title{
    font-size: 32px;
    font-weight: bold;
    color: rgba(14, 14, 14, 0.8);
}

.child-recent-container{
    display: flex;
    gap: 15px;
}

#date{
    font-size: 16px;
    font-weight: 300;
    color: rgba(14, 14, 14, 0.7);
}

#time{
    font-size: 16px;
    font-weight: 300;
    color: rgba(14, 14, 14, 0.7);
}


/* Donate Section Style */
.donate-content{
    padding: 0px 160px;
    align-items: center;
    justify-content: center;
}

.donate-title{
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}

.donate-description{
    font-size: 16px;
    font-weight: 300;
    color: rgba(14, 14, 14, 0.7);
    text-align: center;
    padding: 0px 90px;
}

.donate-container{
    display: flex;
    gap: 20px;
    padding: 0px 100px;
    margin-top: 40px;
    margin-bottom: 40px;
}

#child-donate-container-2{
    background-color: #C6E4D6;
    padding: 12px;
    border-radius: 16px;
    border: 1px solid rgba(14, 14, 14, 0.15);
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

#child-donate-container-2:hover{
    background-color: #006A50;
}

.child-donate-container-1{
    background-color: #FFFFFF;
    padding: 12px;
    border-radius: 16px;
    border: 1px solid rgba(14, 14, 14, 0.15);
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.child-donate-container-1:hover{
    background-color: #006A50;
}

.child-donate-amount{
    font-size: 40px;
    font-weight: bold;
    color: rgba(14, 14, 14, 0.8);
    text-align: center;
}

.child-donate-amount:hover{
    color: #FFFFFF;
}